<div class="contents row">
  <p><%= @name %>さんの投稿一覧</p>
  <% @worships.each do |worship| %>
    <div class="content_post" style="background-image: url(<%= worship.image %>);">
      <p><%= worship.text %></p>
    </div>
  <% end %>
</div>