<div class="contents row">
  <% @worships.each do |worship| %>
    <div class="content_post" style="background-image: url(<%= worship.image %>);">
      <p><%= worship.text %></p>
      <span class="name">
        <%= worship.name %>
      </span>
    </div>
  <% end %>
</div>